<!--
<section class="valeurs js-fullheight" id="valeurs">
    <div class="container">
        <h1>
            <b>Découvrez notre</b> <strong> agence</strong>
        </h1>
        <hr>
        <p class="text-center col-10 mx-auto text-white">Nous prônons le relationnel afin d'intensifier l'échange. De la
            sorte, nous comprenons au
            mieux vos enjeux commerciaux. L'honnêteté, la confiance et la compréhension, voici le cocktail détonnant
            pour en imposer.
        </p>
        <p class="text-center col-10 mx-auto text-white"> Mamoot est né de l'esprit de deux jeunes voisins
            entrepreneurs, voici une brève présentation de ces deux Mamoots.
        </p>

        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-lg-5 mx-auto col-sm-6 pt-5">
                        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
                            <h6>Robin</h6>
                            <p class="text-justify text-card">Robin est bel et bien un Mamoot mais loin d'être un
                                Mammouth.
                                Toujours à
                                la
                                pointe
                                des technologies, il
                                sera votre spécialiste IT, développeur back-end et front-end et votre pillier
                                technique.
                                Peu
                                importe les
                                objecits, la problématique, il sera en imposer dans le dédale de l'informatique. Insérer
                                bla bla qur 3 lignes. Insérer bla bla qur 3 lignes Insérer bla bla qur 3 lignes Insérer
                                bla bla qur 3 lignes
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 mx-auto col-sm-6 pt-5">
                        <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
                            <h6>Thomas</h6>
                            <p class="text-justify text-card">Thomas est un Mamoot surfant sur le permafrost qui en
                                imposera
                                lorsque
                                qu'on
                                lui
                                parlera de stratégies,
                                de digital marketing, de graphisme & de création. Après une expérience intrapreneuriale
                                dans
                                le
                                monde de
                                la vente de cycle et de plusieurs expériences au sein de PME entreprenantes. Il saura
                                plus
                                que
                                quiconque
                                comprendre vos attentes et vos espérances. de vos objectifs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="j" id="carousel-story">
    <div class="container-fluid no-gutters">
        <div class="story-carousel js-fullheight">
            <input class="story-carousel__radio" id="story-0" type="radio" name="story-carousel" checked="checked">
            <article class="story-carousel__story story">
                <figure class="story__figure"
                    style="background-image: url('assets/img/promobis.jpg'); background-position: 50% 50%;">
                </figure>
                <div class=""><small class="">Agile</small>
                    <h2 class="">NOTRE METHODE</h2>
                    <p class="story__summary">Notre méthode est dite "agile", comprenez que cette méthode respecte
                        quatre valeurs fondamentales</p>
                    <ul class="text-center">
                        <li class="list-group-item">Les individus et leurs interactions plus que les processus et
                            les outils.
                        </li>
                        <li class="list-group-item">Des logiciels opérationnels plus qu'une documentation
                            exhaustive.
                        </li>
                        <li class="list-group-item">La collaboration avec les clients plus que la négociation
                            contractuelle.
                        </li>
                        <li class="list-group-item">L'adaptation au changement plus que le suivi d'un plan.

                        </li>
                    </ul>
                </div>
            </article>
            <input class="story-carousel__radio" id="story-1" type="radio" name="story-carousel" />
            <article class="story-carousel__story story">
                <figure class="story__figure"
                    style="background-image: url('assets/img/test4.jpg'); background-position: 50% 50%;"></figure>
                <div class="story__content"><small class="story__category story__category--food">Qualité</small>
                    <h2 class="story__title">NOS STANDARDS</h2>
                    <p class="story__summary">Chaque projets réalisé par Mamoot respectent ces points primoridaux à
                        nos yeux :
                    </p>
                    <ul class="text-center">
                        <li class="list-group-item">Des délivrables mobile responsive</li>
                        <li class="list-group-item">Des produits uniques et sur-mesures répondant à vos besoins</li>
                        <li class="list-group-item">Un service technique et créatif pour sublimer votre entreprise
                        </li>
                        <li class="list-group-item">Un code propre et maintenable</li>
                        <li class="list-group-item">Un véritable support technique</li>
                    </ul>
                </div>
            </article>
            <input class="story-carousel__radio" id="story-2" type="radio" name="story-carousel" />
            <article class="story-carousel__story story">
                <figure class="story__figure"
                    style="background-image:  url('assets/img/11bis.jpg'); background-position: 75% 60%;"></figure>
                <div class="story__content"><small class="story__category story__category--cars">Humain</small>
                    <h2 class="story__title">NOS VALEURS</h2>
                    <p class="story__summary">Nous analysons vos besoins et c'est main dans la main que nous y
                        répondons.
                        <hr>Nous élaborons ensemble votre stratégie, votre image ou/et votre site. <br>
                        Vous obtiendrez toujours de nous un service répondant à vos réels et uniques besoins. Nous
                        mettons un
                        point d'honneur sur la communication professionnelle, mais amicale. De la sorte, nous
                        intensifions la
                        communication et nous cernons au mieux vos enjeux commerciaux. Le résultat? Le chemin le
                        plus
                        court pour
                        la réussite.
                    <p> Nous essayons de limiter notre impact écologique. Il ne suffit pas de replanter des arbres
                        sans
                        réfléchir pour effacer notre empreinte écologique. Car oui, le digital pollue et nous nous
                        sentons
                        concernés par notre environnement malmené. Nous vous invitons à prendre connaissance de
                        notre
                        projet.</p>
                </div>
            </article>
            <label class="story-carousel__label" for="story-0" id="label-0">Story 1</label>
            <label class="story-carousel__label" for="story-1" id="label-1">Story 2</label>
            <label class="story-carousel__label" for="story-2" id="label-2">Story 3</label>
            <label class="story-carousel__label" for="story-0" id="label-3">Story 0</label>
        </div>
    </div>
</section>
-->


<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="9000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner js-fullheight">
            <div class="carousel-item">
                <div class="row no-gutters">
                    <div class="col-6 my-auto">
                        <div class="col-9 mx-auto">
                            <h1 class="text-center" style="color:#E6E7FA;">NOS STANDARDS</h1>
                            <p class="text-center">Chaque projet réalisé par Mamoot respecte ces points primoridaux à
                                nos yeux :
                            </p>
                            <ul class="text-center px-0 mx-0">
                                <li class="list-group-item">Des délivrables mobile responsive</li>
                                <li class="list-group-item">Des produits uniques et sur-mesures répondant à vos besoins
                                </li>
                                <li class="list-group-item">Un service technique et créatif pour sublimer votre
                                    entreprise
                                </li>
                                <li class="list-group-item">Un code propre et maintenable</li>
                                <li class="list-group-item">Un véritable support technique</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <img class="js-fullheight" src="assets/img/test4.jpg">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row no-gutters">
                    <div class="col-6 my-auto">
                        <div class="col-9 mx-auto">
                            <h1 class="text-center" style="color:#FFE5E4;">NOS VALEURS</h1>
                            <p class="text-center">Nous analysons vos besoins et c'est main dans la main que nous y
                                répondons.
                                <hr>
                            <p class="text-center">
                                Nous élaborons ensemble votre stratégie, votre image ou/et votre site. <br>
                                Vous obtiendrez toujours de nous un service répondant à vos réels et uniques besoins.
                                Nous
                                mettons un
                                point d'honneur sur la communication professionnelle, mais amicale. De la sorte, nous
                                intensifions la
                                communication et nous cernons au mieux vos enjeux commerciaux. Le résultat? Le chemin le
                                plus
                                court pour
                                la réussite.
                            </p>
                            <p class="text-center"> Nous essayons de limiter notre impact écologique. Il ne suffit pas
                                de replanter des arbres
                                sans
                                réfléchir pour effacer notre empreinte écologique. Car oui, le digital pollue et nous
                                nous
                                sentons
                                concernés par notre environnement malmené. Nous vous invitons à prendre connaissance de
                                notre
                                projet.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="js-fullheight"
                            style="background-image: url('assets/img/11bis.jpg'); background-size: 100%; background-position: center center;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="row no-gutters">
                    <div class="col-6 my-auto">
                        <div class="col-9 mx-auto">
                            <h1 class="text-center" style="color:#ec808f;">NOTRE METHODE</h1>
                            <p class="text-center">Notre méthode est dite "agile", comprenez que cette méthode
                                respecte
                                quatre valeurs fondamentales</p>
                            <ul class="text-center px-0 mx-0">
                                <li class="list-group-item">Les individus et leurs interactions plus que les
                                    processus
                                    et
                                    les outils.
                                </li>
                                <li class="list-group-item">Des logiciels opérationnels plus qu'une documentation
                                    exhaustive.
                                </li>
                                <li class="list-group-item">La collaboration avec les clients plus que la
                                    négociation
                                    contractuelle.
                                </li>
                                <li class="list-group-item">L'adaptation au changement plus que le suivi d'un plan.

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="js-fullheight"
                            style="background-image: url('/assets/img/promobis.jpg'); background-repeat: no-repeat; background-size: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row">
        <div class="offset-2 col-2 text-center py-5" id="id_rob" style="background-color: #E6E7FA;">
          <h2>Robin</h2>
          <div class="texte-team">Developper Full-stack</div>
          <hr>
          </div>
        <div class="col-2 text-center py-5"
         id="id_thom" style="background-color: #FFE5E4 ;">
         <h2>Thomas</h2>
         <div class="texte-team">Digital Marketer & Graphiste </div>
         <hr>
         </div>


        <div class="col-6 text-center py-5" style="background-color: white;">Nous contacter</div>
    </div>
</div>

<!--
<section class="banner" id="banner">
    <div class="container-fluid bg-primary pt-5 mt-5 pb-5 mb-5">
        <h2 class="text-uppercase mb-0 mt-5 police">NOS VALEURS</h2>
        <!--<div class="row">
            <p class="pt-5 mt-5 col-8 police mx-auto">Nous analysons vos besoins et c'est main dans la main que nous y
                répondons. </p>
        </div>
        <div class="row">
            <div class="col-4 offset-1 mt-5 pt-5 pb-5 mb-5">
                <img class="rounded mx-0 px-0 " src="assets/img/code3.png" style="width:100%">
                <p class="text-justify">
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous analysons vos besoins et c'est main dans la main que nous y répondons.
                    <br>
                    <br>
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous élaborons ensemble votre stratégie, votre image ou/et votre site.
                    Vous obtiendrez toujours de nous un service répondant à vos réels et uniques besoins. Nous
                    mettons
                    un
                    point d'honneur sur la communication professionnelle, mais amicale. De la sorte, nous
                    intensifions
                    la
                    communication et nous cernons au mieux vos enjeux commerciaux.
                    <br>
                    <br>
                    <strong class="chevrons">>></strong> Le résultat?
                    <br>
                    Le chemin le plus court pour
                    la réussite.
                    <br>
                    <br>
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous essayons de limiter notre impact écologique. Il ne suffit pas de replanter des arbres sans
                    réfléchir
                    pour effacer notre empreinte écologique.
                    <br>
                    <br>
                    <strong class="chevrons">>></strong>Car oui, le digital pollue.
                    <br>
                    Nous nous sentons concernés par notre environnement malmené. Nous vous invitons à prendre
                    connaissance
                    de notre projet.
                </p>
            </div>
            <div class="offset-1 col-3 pt-5">
                <img class="rounded mx-0 px-0 " src="assets/img/code3.png" style="width:100%">
                <p class="text-justify">
                    <strong class="chemin">AGILE@mamoot:mamoot/agile</strong>$ Chez Mamoot nous avons décidé de
                    travailler de manière agile avec nos clients.
                    <br>
                    <br>
                    <strong class="chevrons">>></strong>
                    Les pratiques agiles mettent en avant la collaboration entre des équipes auto-organisées et
                    pluridisciplinaires et leurs clients. Elles s'appuient sur l'utilisation d'un cadre méthodologique
                    léger mais suffisant centré sur l'humain et la communication.
                    <br>
                    <br>
                    <strong class="chemin">AGILE@mamoot:mamoot/agile</strong>$ Pour faire simple :
                    <br>
                    <br>
                    <strong class="chevrons">>></strong> 1
                    <br>
                     Les individus et leurs interactions plus que les
                    processus et les outils.

                    <br>
                    <br>
                    <strong class="chevrons">>></strong> 2
                    <br>
                    Des logiciels opérationnels plus qu'une documentation
                    exhaustive.

                    <br>
                    <br>
                    <strong class="chevrons">>></strong> 3
                    <br>
                    La collaboration avec les clients plus que la
                    négociation.

                    <br>
                    <br>
                    <strong class="chevrons">>></strong> 4
                    <br>
                    L'adaptation au changement plus que le suivi d'un plan.

                    <br>
                    <br>
                    <strong class="chemin">AGILE@mamoot:mamoot/agile</strong>$ Si ça vous donne envie de travailler avec nous, n'hésitez pas
                    <br>
                    <br>

                    <strong class="chevrons">>></strong> <a href="/contact">Contactez nous</a>


                    <br>
                    <br>




                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-5 offset-2">
                <img class="rounded mx-0 px-0 " src="assets/img/code3.png" style="width:100%">
                <p class="text-justify">
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous analysons vos besoins et c'est main dans la main que nous y répondons.
                    <br>
                    <br>
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous élaborons ensemble votre stratégie, votre image ou/et votre site.
                    Vous obtiendrez toujours de nous un service répondant à vos réels et uniques besoins. Nous
                    mettons
                    un
                    point d'honneur sur la communication professionnelle, mais amicale. De la sorte, nous
                    intensifions
                    la
                    communication et nous cernons au mieux vos enjeux commerciaux.
                    <br>
                    <br>
                    <strong class="chevrons">>></strong> Le résultat?
                    <br>
                    Le chemin le plus court pour
                    la réussite.
                    <br>
                    <br>
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous essayons de limiter notre impact écologique. Il ne suffit pas de replanter des arbres sans
                    réfléchir
                    pour effacer notre empreinte écologique.
                    <br>
                    <br>
                    <strong class="chevrons">>></strong>Car oui, le digital pollue.
                    <br>
                    Nous nous sentons concernés par notre environnement malmené. Nous vous invitons à prendre
                    connaissance
                    de notre projet.
                    <br>
                    <br>
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous analysons vos besoins et c'est main dans la main que nous y répondons.
                    <br>
                    <br>
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous élaborons ensemble votre stratégie, votre image ou/et votre site.
                    Vous obtiendrez toujours de nous un service répondant à vos réels et uniques besoins. Nous
                    mettons
                    un
                    point d'honneur sur la communication professionnelle, mais amicale. De la sorte, nous
                    intensifions
                    la
                    communication et nous cernons au mieux vos enjeux commerciaux.
                    <br>
                    <br>
                    <strong class="chevrons">>></strong> Le résultat?
                    <br>
                    Le chemin le plus court pour
                    la réussite.
                    <br>
                    <br>
                    <strong class="chemin">VALEURS@mamoot:mamoot/valeurs</strong>$
                    Nous essayons de limiter notre impact écologique. Il ne suffit pas de replanter des arbres sans
                    réfléchir
                    pour effacer notre empreinte écologique.
                    <br>
                    <br>
                    <strong class="chevrons">>></strong>Car oui, le digital pollue.
                    <br>
                    Nous nous sentons concernés par notre environnement malmené. Nous vous invitons à prendre
                    connaissance
                    de notre projet.
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>
-->
