<!--<section class="valeurs js-fullheight" id="valeurs">
    <div class="container">
        <h1><b>Découvrez notre</b> <strong> agence</strong></h1>
        <hr>
        <p class="text-center col-10 mx-auto text-white">Nous prônons le relationnel afin d'intensifier l'échange. De la
            sorte, nous comprenons au
            mieux vos enjeux commerciaux. L'honnêteté, la confiance et la compréhension, voici le cocktail détonnant
            pour en imposer. </p>
        <p class="text-center col-10 mx-auto text-white"> Mamoot est né de l'esprit de deux jeunes voisins
            entrepreneurs, voici une brève présentation de ces deux Mamoots.</p>


        
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-lg-5 mx-auto col-sm-6 pt-5">
                        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
                            <h6>Robin</h6>
                            <p class="text-justify text-card">Robin est bel et bien un Mamoot mais loin d'être un
                                Mammouth.
                                Toujours à
                                la
                                pointe
                                des technologies, il
                                sera votre spécialiste IT, développeur back-end et front-end et votre pillier
                                technique.
                                Peu
                                importe les
                                objecits, la problématique, il sera en imposer dans le dédale de l'informatique. Insérer
                                bla bla qur 3 lignes. Insérer bla bla qur 3 lignes Insérer bla bla qur 3 lignes Insérer
                                bla bla qur 3 lignes</p>
                        </div>
                    </div>
                    <div class="col-lg-5 mx-auto col-sm-6 pt-5">
                        <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
                            <h6>Thomas</h6>
                            <p class="text-justify text-card">Thomas est un Mamoot surfant sur le permafrost qui en
                                imposera
                                lorsque
                                qu'on
                                lui
                                parlera de stratégies,
                                de digital marketing, de graphisme & de création. Après une expérience intrapreneuriale
                                dans
                                le
                                monde de
                                la vente de cycle et de plusieurs expériences au sein de PME entreprenantes. Il saura
                                plus
                                que
                                quiconque
                                comprendre vos attentes et vos espérances. de vos objectifs.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
-->

<section class="j" id="carousel-story">
    <div class="container-fluid no-gutters">
        <div class="story-carousel js-fullheight">
                <input class="story-carousel__radio" id="story-0" type="radio" name="story-carousel"
                    checked="checked" />
                <article class="story-carousel__story story">
                    <figure class="story__figure"
                        style="background-image: url('assets/img/promobis.jpg'); background-position: 65% 50%;">
                    </figure>
                    <div class="story__content"><small class="story__category story__category--lifestyle">Agile</small>
                        <h2 class="story__title">NOTRE METHODE</h2>
                        <p class="story__summary">Notre méthode est dite "agile", comprenez que cette méthode respecte
                            quatre
                            valeurs fondamentales</p>
                        <ul class="text-center">
                            <li class="list-group-item">Les individus et leurs interactions plus que les processus et
                                les
                                outils.
                            </li>
                            <li class="list-group-item">Des logiciels opérationnels plus qu'une documentation
                                exhaustive.
                            </li>
                            <li class="list-group-item">La collaboration avec les clients plus que la négociation
                                contractuelle.
                            </li>
                            <li class="list-group-item">L'adaptation au changement plus que le suivi d'un plan.</li>
                        </ul>
                    </div>
                </article>
                <input class="story-carousel__radio" id="story-1" type="radio" name="story-carousel" />
                <article class="story-carousel__story story">
                    <figure class="story__figure"
                        style="background-image: url('assets/img/test4.jpg'); background-position: 50% 50%;"></figure>
                    <div class="story__content"><small class="story__category story__category--food">Qualité</small>
                        <h2 class="story__title">NOS STANDARDS</h2>
                        <p class="story__summary">Chaque projets réalisé par Mamoot respectent ces points primoridaux à
                            nos
                            yeux :
                        </p>
                        <ul class="text-center">
                            <li class="list-group-item">Des délivrables mobile responsive</li>
                            <li class="list-group-item">Des produits uniques et sur-mesures répondant à vos besoins</li>
                            <li class="list-group-item">Un service technique et créatif pour sublimer votre entreprise
                            </li>
                            <li class="list-group-item">Un code propre et maintenable</li>
                            <li class="list-group-item">Un véritable support technique</li>
                        </ul>
                    </div>
                </article>
                <input class="story-carousel__radio" id="story-2" type="radio" name="story-carousel" />
                <article class="story-carousel__story story">
                    <figure class="story__figure"
                        style="background-image:  url('assets/img/11bis.jpg'); background-position: 75% 60%;"></figure>
                    <div class="story__content"><small class="story__category story__category--cars">Humain</small>
                        <h2 class="story__title">NOS VALEURS</h2>
                        <p class="story__summary">Nous analysons vos besoins et c'est main dans la main que nous y
                            répondons.
                            <hr>Nous élaborons ensemble votre stratégie, votre image ou/et votre site. <br>
                            Vous obtiendrez toujours de nous un service répondant à vos réels et uniques besoins. Nous
                            mettons un
                            point d'honneur sur la communication professionnelle, mais amicale. De la sorte, nous
                            intensifions la
                            communication et nous cernons au mieux vos enjeux commerciaux. Le résultat? Le chemin le
                            plus
                            court pour
                            la réussite.
                        <p> Nous essayons de limiter notre impact écologique. Il ne suffit pas de replanter des arbres
                            sans
                            réfléchir pour effacer notre empreinte écologique. Car oui, le digital pollue et nous nous
                            sentons
                            concernés par notre environnement malmené. Nous vous invitons à prendre connaissance de
                            notre
                            projet.</p>
                    </div>
                </article>
                <label class="story-carousel__label" for="story-0" id="label-0">Story 1</label>
                <label class="story-carousel__label" for="story-1" id="label-1">Story 2</label>
                <label class="story-carousel__label" for="story-2" id="label-2">Story 3</label>
                <label class="story-carousel__label" for="story-0" id="label-3">Story 0</label>
        </div>
    </div>
</section>
