<div class="background">
    <header>Contactez-nous</header>
    <p>Des questions, un devis, une carte postale?</p>

    <div class="container">
        <div class="row">
            <form id="form" class="topBefore">

                <input id="name" class="text" type="text" placeholder="NOM">
                <input id="email" class="text" type="text" placeholder="E-MAIL">
                <textarea id="message" class="text" type="text" placeholder="MESSAGE"></textarea>
                <input id="submit" class="text" type="submit" value="GO!">

            </form>

        </div>
    </div>
</div>