<header>Contactez-nous</header>
<p>Des questions, un devis, une carte postale?</p>

<div class="container">
    <form id="form" class="topBefore">

        <input id="name" type="text" placeholder="NOM">
        <input id="email" type="text" placeholder="E-MAIL">
        <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
        <input id="submit" type="submit" value="GO!">

    </form>

    <!--
        <div class="col-md-5 d-flex">
            <div class="row d-flex contact-info mb-5">
                <div class="col-12">
                    <div class="col-md-12 ftco-animate bg-light">
                        <div class="box p-2 px-3 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-map-signs"></span>
                            </div>
                            <div>
                                <h3 class="mb-3">Adresse</h3>
                                <p>94, Chaussée de Bruxelles, 1410 Waterloo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ftco-animate bg-light">
                        <div class="box p-2 px-3 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-phone2"></span>
                            </div>
                            <div>
                                <h3 class="mb-3">Numéro de téléphone</h3>
                                <p><a href="tel://+32 471 87 40">+32 471 87 40 25</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ftco-animate bg-light">
                        <div class="box p-2 px-3 bg-light d-flex">
                            <div class="icon mr-3">
                                <span class="icon-paper-plane"></span>
                            </div>
                            <div>
                                <h3 class="mb-3">Adresse e-mail</h3>
                                <p><a href="mailto:benoit@cub-training.com">benoit@cub-training.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
</div>