.services{
    padding-top: 90px;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

strong{
    color: #ABDDDE;
}

hr{
    border-top: 3px solid #ABDDDE; 
    width: 50px;
}

h5{
    text-align: center;
}

.btn{
    font-size: larger;
    font-weight: 700;
}

h6{
    font-weight: 650;
    font-size: 1.3em;
}