<section class="services" id="services">
    <div class="hidden">
        <div class="container">
            <h1><b>Découvrez nos</b> <strong> expertises </strong></h1>
            <hr>
            <p class="text-center">Chez Mamoot nous avons à coeur de vous proposer des services personnalisés répondant
                à vos besoins. Une agence, un partenaire axé savoir-faire, créativité & performance.</p>
        </div>
    </div>
</section>

<div class="feat bg-gray pt-5 pb-5 noselect ">
    <div class="hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="item"> <span class="icon feature_box_col_three"><i
                                class="fa fa-hourglass-half"></i></span>
                        <h6>Renforcer ou revoir <strong>votre image</strong></h6>
                        <hr>
                        <p class="text-justify">Nous crééons ou modernisons l'image de votre marque, produit ou de votre
                            société. Il est
                            primordial que vos clients puissent vous identifier rapidement. Cela passe par une charte
                            graphique complète et pleine de sens. Logos, typographies tout est pensé pour répondre à vos
                            besoins et à transmettre une image fidèle à votre activité. Nous nous occupons de votre
                            branding
                            de A à
                            Z, étape par étape.</p>
                    </div>
                    <div class="col-lg-12 col-sm-12 px-0 mx-0">
                        <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
                            <h6>Nous animons vos <strong>réseaux sociaux</strong></h6>
                            <hr>
                            <p class="text-justify">Nous assurons votre présence sur les réseaux qui vous sont utiles,
                                nous
                                animons vos pages afin que
                                vos potentiels clients soient toujours au courant de vos activités, de votre lifestyle.
                                Nous
                                pouvons simplement gêrer le contenu mais aussi la messagerie.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
                        <h6>Création de <strong>site web</strong></h6>
                        <hr>
                        <p class="text-justify">Nous nous occupons de créer pour vous votre site internet, en répondant
                            à
                            vos attentes et aux
                            standards modernes. Un site internet est devenu indispensable, exister sur Internet est
                            exister
                            tout court.</p>
                    </div>
                    <a routerLink="/contact"><button type="button" class="btn btn-green rounded fade">En tant qu'incubateur de projets. L'agence réponds à un besoin: développer vos idées! Contactez-nous et
                            voyons ce
                            que nous pouvons
                            faire <strong>d'imposant</strong> ensemble.  </button></a>

                    <a routerLink="/contact"><button type="button"
                            class="col-10 col-md-6 btn btn-green rounded fixed-bottom d-lg-none mx-auto mb-3 fade">Contactez-nous
                            et voyons ce que nous pouvons
                            faire ensemble.</button></a>

                    <div class="col-lg-12 col-sm-12 pt-5 px-0 mx-0">
                        <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>

                            <h6><strong>Branding, mailings</strong> & <strong>création graphique</strong></h6>
                            <hr>
                            <p class="text-justify">Nous créeons ou renforçons l'image de votre entreprise. Conception UX & UI, créations de charte graphique, de logos, documents, de contenu marketing, mailings,
                    ... Nous mettons tout notre savoir faire graphique à votre
                                service!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
                        <h6><strong>Référencement</strong> de votre site</h6>
                        <hr>
                        <p class="text-justify">Nous analysons votre site et optimisons son réfèrencement naturel afin
                            qu'il
                            apparaisse dans les moteurs
                            de recherche à la meilleur place possible, c'est ce qu'on appelle le SEO. Nous pouvons
                            également
                            le mettre en avant à travers des annonces intelligement configurées, c'est ce qu'on appelle
                            le
                            SEA. De plus, si vous avez déjà un site nous faisons des audits ou faisons les adaptations à
                            court-termes ou/et en
                            continu afin de mettre votre site en tête des recherches.</p>
                    </div>
                    <div class="col-lg-12 col-sm-12 mx-0 px-0">
                        <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
                            <h6>Création de <strong>systèmes ERP</strong></h6>
                            <hr>
                            <p class="text-justify">Nous nous occupons de vous fournir un système informatique
                                performant et
                                innovateur afin de
                                simplifier votre gestion dans la vie de tous les jours, que ce soit en automatisant
                                votre
                                facturation, votre gestion de stock, en automatisant les réservations ou encore bien
                                d'autres
                                choses.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
