.services{
    padding-top: 90px;
    font-family: 'Bungee Shade', cursive;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

h2{
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

p{
    font-family: 'Quicksand', sans-serif;
}




strong{
    color: #ABDDDE;
}

hr{
    border-top: 3px solid #ABDDDE;
    width: 50px;
}

h5{
    text-align: center;
}

.btn{
    font-size: larger;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

h6{
    font-weight: 650;
    font-size: 1.3em;
        font-family: 'Quicksand', sans-serif;
}
