<section class="intro js-fullheight" style="background-image: url('assets/img/Banner_0000_section-8.jpg');
											width: 100%;
											height: 100%;
											position: inherit;
											background-size: cover;
											background-repeat: no-repeat;
											background-position: bottom center;">
    <div class="container pt-5">
        <div class="py-5 text-center mt-5">
            <h1 class="text-white col">Mission: <strong>Planète</strong> X <strong>Mamoot</strong></h1>
            <hr class="py-3">
            <h2 class="text-white">Conscients que notre travail et notre mode de consommation numérique contribue
                grandement à la pollution via, entre-autre, la pollution digitale. Nous avons décidé de mettre en place
                plusieurs gestes.</h2>
            <hr class="py-3">
            <div class="row multi-columns-row text-center">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon">
                            <span class="icon-recycle"></span>
                        </div>
                        <h3 class="features-title font-alt">Maintient durable de nos fôrets</h3>
                        <p class="text-justify">La gestion de serveurs et d'ordinateurs est énergivore et se traduit en
                            d'énormes quantités de
                            C02 rejeté. C'est pourquoi nous finançons un organisme entrentenant nos forêts de façon
                            durable. La meilleure des options! Stop à la simple compensation carbone puisque ce système
                            est plus destructeur que jamais pour le meilleur du Green Washing <br><a
                                href="https://ecotree.green/halte-a-la-compensation">Découvrez OneTree et l'envers du
                                décor</a>. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-gears"></span></div>
                        <h3 class="features-title font-alt">Consommation limitée</h3>
                        <p class="text-justify">Nous tentons de remplacer le moins possible notre matériel (ordinateurs,
                            imprimantes, ...), nous le réparons nous même avec des
                            pièces opérationnelles et de qualitées issues d'appareils jeté à tort. De la sorte nous
                            défions
                            l'obselescence programée. Malheureusement, nous n'avons pas la main sur la politique de nos
                            parteniaires et opérateurs. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-happy"></span></div>
                        <h3 class="features-title font-alt">Citoyens</h3>
                        <p class="text-justify">Nous avons opté, comme beaucoup, pour des gestes simples au quotidien:
                            Halte au plastique, vive le café en vrac
                            grâce à nos amis de Labaiecoffee (bisous, les capsules polluantes). Nous limitons l'usage
                            des véhicules au
                            bénéfice des transports en commun. Nous ne sommes certainement pas parfait nous évoluons
                            tous les jours dans ce sens. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>