h1{
    font-size: 45px;
}

@media screen and (min-width: 768px){
    h1{
        font-size: 70px;
        font-weight: 300;
        font-family: 'Bungee Shade', cursive;
        color: grey;
    }
}

h2{
font-family: 'Quicksand', sans-serif;
}

strong{
    color: #ABDDDE;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

p{
    color: white;
    font-size: 15px;

}

hr{
    border-top: 3px solid #ABDDDE;
    width: 50px;
}

h3{
    font-size: 22px;
    color: white;
    border-bottom: 2px solid #ABDDDE;
    text-decoration-color: #ABDDDE;
    font-family: 'Quicksand', sans-serif;
}

.features-icon{
    font-size: 3em;
    color: #fff;
    padding-top: 100%;
}

section{
  background-image:url('/assets/img/Banner_0000_section-8.jpg');
  background-size: contain;
  padding-bottom: 10%;
  padding-top:10%;
  background-repeat: no-repeat;



  }
