html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.btn-green:focus, .btn-green:hover, btn-green:active{
    background-color: #fff !important;
    color: black;
    border-color: #ABDDDE;
}

.btn-green{
    background-color: #ABDDDE;
    color: #fff;
    margin-top: 60px;
    margin-bottom: -35px;


}

/*c'est bien ça?? bouton de la bande noir*/
.btn-green2:focus, .btn-green2:hover, btn-green2:active{
    background-color: #fff !important;
    color: black;
    border-color: #ABDDDE;
}
.btn-green2{
    background-color: #ABDDDE;
    color: #fff
}


/*pour solution ça*/
.btn-green3:focus, .btn-green3:hover, btn-green3:active{
    background-color: #black !important;
    color: black;
    opacity: 0.6;

}
.btn-green3 {
    color: black;

}
