html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.btn-green:focus, .btn-green:hover, btn-green:active{
    background-color: #fff !important;
    color: black;
    border-color: #ABDDDE;
}

.btn-green{
    background-color: #ABDDDE;
    color: #fff;
}
