html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.btn-green:focus, .btn-green:hover, btn-green:active{
  background-color: white;
  color:black;
  border-color: black;
  box-shadow: -6px 6px 0px black;
  border-width: 1px;
}

.btn-green{
    background-color: #B7E9E7;
    color: black;
    margin-top: 60px;
    margin-bottom: -35px;
    box-shadow: -9px -9px 0px #E6F8F7;


}

.btn-intro:focus, .btn-intro:hover, btn-intro:active {
    background-color: white;
    color:black;
    border-color: #fff;
    box-shadow: -7px -7px 0px #E6F8F7;
    border-width: 1px;
}

.btn-intro{
    background-color: #B7E9E7;
    color: black;
    font-size: 1.2em;
      margin-top: 0.7em;
      box-shadow: -7px -7px 0px #E6F8F7;
    font-family: 'Quicksand', sans-serif;
      letter-spacing: 0.7px;

    }

/*Home dans bandeau noir*/
.btn-green2:focus, .btn-green2:hover, btn-green2:active{
  background-color: white;
  color:black;
  border-color: #B7E9E7;
  box-shadow: -9px -9px 0px #B7E9E7;
  border-width: 1px;
}
.btn-green2{
  background-color: #B7E9E7;
  color: black;
    margin-top: 1.9em;
    box-shadow: -9px -9px 0px #E6F8F7;
    letter-spacing: 0.7px;

}


/*pour la page solution */
.btn-green3:focus, .btn-green3:hover, btn-green3:active{
    color: grey;
    opacity: 0.6;

}

.btn-green3 {
    color: black;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
