.bg-intro {
    background-image: url("/assets/img/agency_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 0.2em;
    font-family: 'Bungee Shade', cursive;

}

p.seo{
    letter-spacing: 0.2em;
    font-weight: 80px;
    font-family: 'Open Sans Condensed', sans-serif;


}

.services{
    margin-top: 6em;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 6em;
}

.icon-serv{
    font-size: 3em;
    margin-bottom: 1em;
    color: black;
}

.service-title{
    border-width: 0.1em !important;
    margin-bottom: 0.5em !important;
    border-color: #ABDDDE !important;
}

.about{
    border-color: #ABDDDE !important;
    font-family: 'Quicksand', sans-serif;
}

.bg-about{
    background-image: url("/assets/img/testbis1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
}

h2{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Bungee Shade', cursive;
}

h3{
    margin-top: 1em;
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;

}

h4{
    margin-top: 1em;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif

}


.about-md{
    padding-top: 6em;
    padding-bottom: 6em;
}

.h_carousel{
    font-size: 20px;
}

.text-carou-eco{
    font-size: 60px;
}

@media screen and (min-width: 768px){
    .text-carou-eco{
        font-size: 50px;
    }
}
