
<section id="intro" class="intro">
    <div class="hidden">
        <div class="bg-intro js-fullheight">
            <div class="container pt-5">
                <div class="row pt-5 my-5">
                    <div class="col-sm-12 col-md-5 my-5 pt-5">
                        <h1>L'agence digitale qui en impose.</h1>
                        <p class="seo"> SITES WEB | SEO | SEA | RESEAUX SOCIAUX | UX
                            &
                            UI | ERP | BRANDING | STRATEGIE DIGITALE
                        <p>
                            <a href="#about"><button type="button" class="btn btn-outline-light">En savoir
                                    plus</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>>

<section class="services fade">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span class="icon-serv icon-lightbulb"></span>
                <h4 class="border-bottom border-top service-title">Idées &amp; concepts</h4>
                <p class="text-justify">
                    Nous vous aidons à faire fleurir vos idées et vos concepts. Nous associons notre créativité et
                    notre expertise pour enrichir la communication de votre entreprise.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span class="icon-serv icon-tools"></span>
                <h4 class="border-bottom border-top service-title">Conception &amp; solution
                </h4>
                <p class="text-justify">
                    Nous concevons des solutions digitales sur mesures. Chaque conceptions réponds à vos besoins.
                    Sites web, Social Media, SEO, SEA, ERP, branding et bien plus encore.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span class="icon-serv icon-tools-2"></span>
                <h4 class="border-bottom border-top service-title">Code &amp; développement
                </h4>
                <p class="text-justify">
                    Nous avons à coeur de coder de façon propre. De cette façon, vos sites sont stables, efficaces
                    et peuvent être développer sur le long terme de façon efficace.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span class="icon-serv icon-lifesaver"></span>
                <h4 class="border-bottom border-top service-title">Supports dédiés</h4>
                <p class="text-justify">
                    Avec Mamoot, vous ne serez jamais abandonné, seul, dans le permafrost digital. Nous serons
                    toujours là pour vous aider, adapter et répondre à vos besoins.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <a routerLink="solutions"><button type="button" class="btn btn-green">En savoir
                        plus</button></a>
            </div>
        </div>
    </div>
</section>

<section class="about border-top border-bottom fade" id="about">
    <div class="d-none d-md-block">
        <div class="row no-gutters">
            <div class="col-xs-12 col-md-6">
                <div class="js-fullheight bg-about"></div>
            </div>
            <div class="my-auto col-xs-12 col-md-6">
                <div class="row my-auto">
                    <h2 class="mx-auto mx-auto">About Us</h2>
                    <h3 class="col-10 text-justify mx-auto">Notre priorité est de fournir, aux
                        indépendants et aux PME, des services digitaux dignes des grandes entreprises.</h3>
                    <p class="col-10 mx-auto text-justify pt-3"> Créations de sites web & E-commerce, audits, SEO,
                        SEA, ERP,UX, UE,
                        réseaux sociaux,etc.
                        Ensemble, nous établissons des solutions répondant à vos besoins en respectant
                        vos valeurs, votre travail & vos finances. Nous savons à quel point le budget dédié à la
                        communication peut être difficile à établir.
                        C'est pour celà que nous vous conseillons et orientons afin de tirer un maximum de profit de
                        cet investissement. L'agence a à coeur d'établir une relation de confiance peu importe vos
                        besoins. </p>
                </div>

                <div class="row">
                    <a class="mx-auto" routerLink="valeurs"><button type="button" class="btn btn-green">En
                            savoir plus sur notre agence
                            digitale qui en
                            impose</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-md-none bg-about">
        <div class="row about-md">
            <div class="col-10 my-auto mx-auto">
                <h4 class="text-white text-justify">Notre priorité est de fournir, aux
                    indépendants et aux PME, des services digitaux dignes des grandes entreprises.</h4>
                <p class="text-white text-justify">Créations de sites web & E-commerce, audits, SEO,
                    SEA, ERP,UX, UE,
                    réseaux sociaux,etc.
                    Ensemble, nous établissons des solutions répondant à vos besoins en respectant
                    vos valeurs, votre travail & vos finances. Nous savons à quel point le budget dédié à la
                    communication peut être difficile à établir.
                    C'est pour celà que nous vous conseillons et orientons afin de tirer un maximum de profit de
                    cet investissement. L'agence a à coeur d'établir une relation de confiance peu importe vos
                    besoins. </p>
            </div>
            <div class="row mx-auto">
                <div class="mx-auto">
                    <a class="mx-auto" routerLink="valeurs">
                        <button type="button" class="btn btn-green btn-outline-light">En
                            savoir plus sur notre agence
                            digitale qui en
                            impose</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="fade" style="background-color: black;">
    <div class="container py-5">
        <div class="row">
            <h4 class="text-white">Toutes nos offres se veulent sur mesures et attractives. N'hésitez pas à
                demander votre devis.</h4>
            <p class="text-white">Nous privilégions l'échange au lieu d'un plan tarrifaire. De la
                sorte,
                nous proposons des
                prix accessibles en adéquation à vos besoins.</p>
        </div>
        <div class="row">
            <a routerLink="solutions">
                <button type="button" class="btn btn-green"><a class="">Découvrez nos
                        services</a></button>
            </a>
        </div>
    </div>
</section>

<section class="fade " id="ecologie">
    <div id="carouselEcologie" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselEcologie" data-slide-to="0" class="active"></li>
            <li data-target="#carouselEcologie" data-slide-to="1"></li>
            <li data-target="#carouselEcologie" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid py-5" style="background-image: url('assets/img/oui.jpg');
                                                    background-position: center center;" alt="First Slide">
                    <div class="container-fluid text-center py-5">
                        <h4 class="text-center text-white h_carousel">Le mammouth est grand mais</h4>
                        <div class="text-carou-eco text-white text-center">CONSERVONS UNE DIMENSION HUMAINE À
                            TRAVERS NOTRE TRAVAIL</div>
                        <a routerLink="valeurs">
                            <button type="button" class="my-3 btn btn-green btn-outline-light">Découvrez nos
                                valeurs</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid py-5" style="background-image: url('assets/img/banner_0004_home.jpg');
                                                    background-position: center center;" alt="Second Slide">
                    <div class="container-fluid text-center py-5">
                        <h4 class="text-center text-white h_carousel">Le permafrost est vaste, Internet aussi</h4>
                        <div class="text-carou-eco text-white text-center">NE VOUS ÉGAREZ PLUS ET N'UTILISEZ QUE CE
                            DONT VOUS AVEZ BESOIN</div>
                        <a routerLink="valeurs">
                            <button type="button" class="my-3 btn btn-green btn-outline-light">Découvrez nos
                                valeurs</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid py-5" style="background-image: url('assets/img/section-10.jpg');
                                                    background-position: center center;" alt="Third Slide">
                    <div class="container-fluid text-center py-5">
                        <h4 class="text-center text-white h_carousel">Le mammouth a disparu mais</h4>
                        <div class="text-carou-eco text-white text-center">SAUVEGARDONS AU MIEUX L'ECO-SYSTÈME DE
                            CETTE ÈRE</div>
                        <a routerLink="environnement">
                            <button type="button" class="my-3 btn btn-green btn-outline-light">Mission: Planet X
                                Mamoot</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselEcologie" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselEcologie" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>